div {
background: red;
width: 200px;
height: 200px;
margin: 20px;
}

a {
    background: skyblue;
    width: 200px;
    height: 200px;
    margin: 20px;
}

button {
    background: violet;
    width: 200px;
    height: 200px;
    border-radius: 80%;
}