
p:hover {
    color: blue;
}

div p:nth-child(2) {   
    color: brown;     
}

p::first-letter{
    color: darkorange;
}

p::before, p::after{
    content: "🫨";
}

::placeholder {
    color: darkslateblue;
}