* {
    background-image: url("pexels-markus-spiske-1921326.jpg");
}

div {
    background: burlywood; 
}

.perri {
    background: rgb(63, 217, 234);
}

#gati {
    color: red;
}

a {
    color: rgb(0, 217, 36);
    background-color: blueviolet;
}